*{
    margin: 0;
    padding: 0;
}

.menu-container{
    background-color: black;
    padding: 15px;
    color:#fff;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo-img{
    width: 150px;
}

.menu{
    display: flex;
}
.item{
    margin-left: 10px;
    padding-left: 10px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: tomato;
}

/* this is banner section */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 100vh;
    background-image: url(./images/background.png),linear-gradient(45deg,#1b1a1a,#242222);
}

.banner-img{
    width: 300px;
}

.banner-heading{
    font-size: 55px;
    font-weight: bold;
}

.discription{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    color:white;
    background-color: tomato;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

